@import url('resetcss.css');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#newsletter {
    background-color : #00acdf;
    color: white;
    border: rgba(0,0,0,0.1) solid 5px;
}
footer {
    background-color: #ccc ;
    background-image: url(../images/bg-footer.jpg)
}
.showcase .button:hover {
    background-color: #00acdf;
}
input[type='submit'][class='button']:hover {
    background-color:#d4326d;
}
.button {
    border-radius: 8px;
    border: 2px solid white;
}
#header nav > ul {
    border-radius: 20px;
    border: #ccc solid 1px;
}
.showcase {
    box-shadow: 0 -3px 8px 0 #ccc;
    background: #f5f5f5;
}
#header nav > ul > li {
    background:white;
}
#header {
    margin: 0 0 2em 0;
}
#header .logo {
    margin: 2.4em 0;
}
#header nav {
    margin-top: 2em;
}
#content {
    margin: 0 auto;
}
.container {
    max-width: 920px;
    margin: 0 auto;
}
input .button {
    margin: 2em auto 1em;
}
aside {
    margin: 0 0 2em 0;
}
aside > h3 {
    margin: 0 0 1.6em 0;
}
#content h1, #content h2, #content h3, #content h4 {
    margin: 0 0 1.6em 0;
}
#content p, #content ul {
    margin: 0 0 1.25em 0;
}
blockquote cite {
    margin: 0.625em 0 0 0;
}
#newsletter h3 {
    margin: 0 0 1em 0;
}
#newsletter label {
    margin: 1.5em 0 0 0; 
}
aside {
    margin: 0 0 2em 0;
}
.post h3 {
    margin: 0 0 1em 0;
}
.post img {
    margin: 0 0.5em 0 0;
}
.products ul {
    display : flex;
}
.products > ul li {
    list-style: none;
}
.products > ul li a {
    display:block;
    text-decoration: none;
}
.products ul li:hover>a {
    background: red;
    opacity: 0.7;
    color: yellow;
}
.products li ul {
    display: none;
    min-width:350px;
    position :absolute;
}
.products li > ul li {
    width:100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #999 ;
    text-align : left;
}
.products li>ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.products li:hover > ul{
    display:block;
}
.products > ul li > ul li > ul {
    margin-left: 350px;
    margin-top: -50px;
}